.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.block{
	display: block;
}

.fb{
	font-weight: bold;
}

.hidden{
	overflow: hidden;
}

.pbx {
	padding-bottom: calc(env(safe-area-inset-bottom) + 20rpx) !important;
}

.pbxb {
	padding-bottom: calc(env(safe-area-inset-bottom)) !important;
}

.mbx {
	margin-bottom: calc(env(safe-area-inset-bottom) + 20rpx) !important;
}

.w485{
	width: 48.5%;
}

.w100{
	width: 100%;
}

.h100{
	height: 100%;
}

.hh100{
	height: 100rpx;
}

.borderRadius{
	border-radius: 12rpx;
}

.bglg1{
	background: linear-gradient(90deg,rgba(255, 255, 255,1) ,rgba(112, 209, 254, .1), rgba(75, 144, 248, .6));
}

.bglg2{
	background: linear-gradient(90deg,rgba(255, 255, 255,1) ,rgba(139, 142, 194, .1), rgba(141, 124, 179, .6));
}

.bgMain{
	background: linear-gradient(94deg, #A9B8D5, #D2C7D8);
}

.boxShadow{
	box-shadow: 0rpx 3rpx 18rpx 0rpx rgba(128,138,187,0.35);
}

.z1{
	z-index: 1;
}

.z2{
	z-index: 2;
}

.tc{
	text-align: center;
}

.tj{
	text-align:justify;
}

// 字体颜色和背景颜色
$color-list:#FFFFFF #F8F8F8 #333333 #666666 #999999 #DDDDDD #539DF9 #EBEBEB #5D9AFF #F9AE3D;
$color-name-list : FFFFFF F8F8F8 333333 666666 999999 DDDDDD 539DF9 EBEBEB 5D9AFF F9AE3D;
@each $name in $color-name-list {
  $i: index($color-name-list, $name);

  .co-#{$name} {
    color: nth($color-list, $i);
  }

  .bg-#{$name} {    
	background: nth($color-list, $i);
  }
  
  .bb-#{$name} {
  	border-bottom: 2rpx solid nth($color-list, $i);
  }
}

// 字体大小
$fontSize: 24;
@while $fontSize < 50 {
    .f#{$fontSize} { 
        font-size: #{$fontSize}rpx; 
      }
    $fontSize: $fontSize + 2;
}

// 内外边距
$List:5 8 10 12 14 15 20 24 30 32 35 40 44 50 88 120 150 400;
@each $i in $List {
	// 内边距
    .p#{$i}{
        padding: #{$i}rpx;
    }
	
	.pt#{$i} {
		padding-top: #{$i}rpx;
	}
	
	.pr#{$i} {
		padding-right: #{$i}rpx;
	}
	
	.pb#{$i} {
		padding-bottom: #{$i}rpx;
	}
	
	.pl#{$i} {
		padding-left: #{$i}rpx;
	}
	
	.p-0-#{$i} {
		padding: 0 #{$i}rpx;
	}
	
	.p-#{$i}-0 {
		padding: #{$i}rpx 0;
	}
	
	// 外边距
	.m#{$i}{
		margin: #{$i}rpx;
	}
	
	.mt#{$i} {
		margin-top: #{$i}rpx;
	}
	
	.mr#{$i} {
		margin-right: #{$i}rpx;
	}
	
	.mb#{$i} {
		margin-bottom: #{$i}rpx;
	}
	
	.ml#{$i} {
		margin-left: #{$i}rpx;
	}
	
	.m-0-#{$i} {
		margin: 0 #{$i}rpx;
	}
	
	.m-#{$i}-0 {
		margin: #{$i}rpx 0;
	}
}

.lh100{
	line-height:100%
}
.lh120{
	line-height:120%
}
.lh150{
	line-height:150%
}

.lh180{
	line-height:180%
}

.ml-a{
	margin-left: auto;
}

.p-30-25 {
	padding: 30rpx 25rpx;
}

.p-15-30 {
	padding: 15rpx 30rpx;
}

.p-20-30 {
	padding: 20rpx 30rpx;
}


.fb500{
	font-weight: 500;
}

// 超出隐藏
.text-ellipsis {
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-ellipsis-2 {
	display: -webkit-box;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

// flex 布局
.flex{
	display: flex;
}

.flex-1{
	flex: 1;
}


.d-c-c{
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-r-c{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.d-b{
	display: flex;
	align-items: baseline;
}

.d-c{
	display: flex;
	align-items: center;
}

.d-b-c{
	display: flex;
    align-items: baseline;
	flex-direction: column;
	justify-content: center;
}

.d-a-c{
	display: flex;
    align-items: center;
	justify-content: center;
}

.d-s-c{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.d-s{
	display: flex;
	justify-content: space-between;
}

.d-d-c{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.d-f{
	display: flex;
	flex-direction: column;
}

.d-f-s{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.d-f-a{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card{
	background: #FFFFFF;
	border-radius: 12rpx;
	padding: 24rpx;
	margin: 0 24rpx 30rpx;
	color: #333333;
	font-size: 26rpx;
}

.cardt{
	background: #FFFFFF;
	margin: 0 24rpx 30rpx;
	color: #333333;
	font-size: 26rpx;
	border-radius: 0 0 12rpx 12rpx ;
}

.list-item {
	padding: 20rpx 30rpx;
	color: #666666;
	font-size: 26rpx;
}

.list-item:not(:last-child) {
	border-bottom: 1rpx rgba(153, 153, 153, 0.2) solid;
}

.bb-999999-2 {
	border-bottom: 1rpx rgba(153, 153, 153, 0.2) solid;
}

.mainBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10rpx 25rpx;
	border: 1rpx solid #8B91C4;
	background: linear-gradient(94deg, #A9B8D5, #D2C7D8);
	border-radius: 12rpx;
	position: relative;
	color: #FFFFFF;
	font-size: 24rpx;
}

.mainBtn:before {
	content: '';
	position: absolute;
	width: calc(100% - 8rpx);
	height: calc(100% - 8rpx);
	background: transparent;
	border: 1rpx solid #FFFFFF;
	border-radius: 12rpx;
	top: 2rpx;
	left: 2rpx;
}

.underline{
	text-decoration: underline
}